.ui.segment
  .ui.two.column.grid
    .row
      .eight.wide.column
        .ui.segment
          h1 Действия
          each this.activeSteps
            .ui.violet.inverted.segment
              .content
                h2 #{name}
                .description
                  | #{description}
                p
                .ui.buttons
                  each options
                    .option-button.ui.red.big.button(data-option-id="#{id}") #{name}
        .ui.segment
          h1 Действия на любом шаге
          .ui.buttons
            #set-reserve.ui.red.button Установить резерв
            #remove-reserve.ui.red.button Снять резерв
      .eight.wide.column
        .ui.segment
          h2 
            a(href="https://online.moysklad.ru/app/#customerorder/edit?id=#{this.order.uuid}", target="blank") #{order.name}
            .ui.big.tag.red.label {{statusHelper order.stateUuid}}
          h3 Заказ создан: {{prettifyDateTime order.created}}
          //h3 Нет в наличии: #{order.outOfStock}
          h3 Способ доставки: #{order.deliveryWay}
          h3 #{company.name}
          h3 #{company.contact.phones} , местное время #{customerCurrentTime}
          h3 #{company.requisite.actualAddress}
          h3 Общая сумма заказа: {{sumHelper order.sum.sum}}
    .row 
      .sixteen.wide.column
        .ui.segment
          table.ui.celled.right.aligned.table
            thead
              tr
                th Артикул
                th Название
                th Остаток
                th Резерв
                //th Доступно
                th Доступно
                th Отс. по инф. склада?
                //th Отс. у поставщика?
                //th Плановая дата поступления если закупим
                //th Ожидаемая дата поступления
                th Дата поступления
                //th Вес
                //th Описание
                //th Архивный
                th Цена без скидки
                th Скидка
                th Цена со скидкой
                th Кол-во
                th Цена итого
                th Резерв в данном заказе
                th Действия
            tbody
              each this.order.customerOrderPosition
                tr(class="{{#if inStock}}positive{{else}}negative{{/if}}")
                  td #{orderPosHelper.code}
                  td #{orderPosHelper.name}
                  td #{orderPosHelper.stockQty}
                  td {{orderPosHelper.reserveQty}}
                  //td #{orderPosHelper.quantityQty} 
                  td #{orderPosHelper.realAvailableQtyPlusReserve} 
                  td
                    {{#if orderPosHelper.outOfStock}}Отсутствует{{/if}}
                  //td {{booleanYesNo orderPosHelper.outOfStockInSupplier}}
                  //td {{prettifyDate orderPosHelper.nextPlannedRecieveDate}}
                  //td {{prettifyDate orderPosHelper.nextFactRecieveDate}}
                  td {{nextArrivalDate}}
                  //td #{orderPosHelper.weight}
                  //td #{orderPosHelper.description}
                  //td {{booleanYesNo orderPosHelper.archived}}
                  td {{sumHelper basePrice.sum}}
                  td {{formatNumber discount}}
                  td {{sumHelper price.sum}}
                  td #{quantity} шт
                  td {{rowSum}}
                  td {{reserve}} шт
                  td.collapsing
                    #deletePosition.ui.teal.button Удалить из заказа
