.ui.segment
  table.ui.compact.celled.table
    thead
      tr 
        th Id
        th Run Id
        th Тип
        th Обновлено
        th Создано
        th Попыток
        th Повторов
        th Статус
        th Прогресс
        th Лог
    tbody
      each this
        tr
          td #{_id}
          td #{runId}
          td #{type}
          td {{prettifyDateTime updated}}
          td {{prettifyDateTime created}}
          td #{retries}
          td #{repeats}
          td #{status}
          td #{progress.completed}/#{progress.total}
          td
            table.ui.compact.celled.table
              tbody
                each this.log
                  tr
                    td {{prettifyDateTime time}}
                    td #{message}
                  
          
          
